@import "https://fonts.googleapis.com/css?family=Open+Sans";

* {
  margin: 0;
  padding: 0;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: rgb(26, 26, 26);
  --secondary-color: white;
  --tertiary-color: orange;

  --spacer-width: 10px;

  --header-height: 100px;
  --main-height: calc(
    100vh - calc(var(--header-height) + calc(var(--spacer-width) * 3))
  );
}

a {
  all: unset;
}

html {
  font-family: "Open Sans", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  line-height: 1.5;
  font-weight: 400;
}

main {
  margin: 0 var(--spacer-width);
  min-height: var(--main-height);
  padding-top: calc(var(--header-height) + calc(var(--spacer-width) * 2));
  margin-bottom: var(--spacer-width);
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 2.2rem;
  line-height: 1.1;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.1;
}

p {
  font-size: 1.5rem;
  line-height: 1.1;
}

.active {
  color: var(--tertiary-color);
}

.active * {
  width: 100%;
}
