.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - calc(var(--spacer-width) * 2));
  padding: var(--spacer-width);
  position: fixed;
  background-color: var(--primary-color);
  z-index: 1000000000;
}

/* Logo stuff*/
.logo {
  height: var(--header-height);
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-logo-wrapper {
  height: var(--header-height);
  cursor: pointer;
}

.logo-wrapper .nav-link-logo-wrapper * {
  width: auto;
}

/* Hamburger stuff*/
.hamburger-wrapper {
  height: calc(var(--header-height) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-bar {
  height: 10px;
  width: 90px;
  background-color: var(--secondary-color);
  transition: background-color 0.2s, transform 0.4s;
}

.hamburger-close .hamburger-bar {
  background-color: var(--tertiary-color);
}

.hamburger-close .hamburger-bar:nth-child(1) {
  transform: translate(0, 35px) rotate(45deg);
}

.hamburger-close .hamburger-bar:nth-child(2) {
  transform: rotate(-45deg);
}

.hamburger-close .hamburger-bar:nth-child(3) {
  transform: translate(0, -35px) rotate(45deg);
}

/* Nav stuff*/

.nav-menue {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: calc(var(--header-height) + var(--spacer-width));
  left: 0;

  background-color: var(--primary-color);
  transform: translate(-100vw);

  transition: transform 0.4s linear;
}

.nav-menue-show {
  transform: translate(0vw);
}

.nav-menue-first-render {
  transition: transform 0s linear !important;
}

.nav-element {
  width: calc(100% - calc(var(--spacer-width) * 2));
  border-top: 1px solid var(--secondary-color);
  padding: var(--spacer-width) 0;
  cursor: pointer;
}

.nav-element * {
  text-align: right;
  white-space: nowrap;

  width: 0%;
  transition: width 0.5s linear;
}

.nav-element:first-child {
  margin-top: var(--spacer-width);
}

.nav-element:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.nav-element-selected {
  background-color: var(--tertiary-color);
}
