.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - calc(var(--spacer-width) * 2));
  margin: var(--spacer-width);
}

/* Logo stuff*/
.logo {
  height: var(--header-height);
}

.logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-logo-wrapper {
  height: var(--header-height);
  cursor: pointer;
}

/* Hamburger stuff*/
.hamburger-wrapper {
  height: calc(var(--header-height) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-bar {
  height: 10px;
  width: 90px;
  background-color: var(--secondary-color);
}

.hamburger-wrapper:hover .hamburger-bar {
  background-color: var(--tertiary-color);
}

/* Nav stuff*/

.nav-menue {
  display: flex;
  width: 100vw;
  height: calc(100% - calc(var(--header-height) + var(--spacer-width)));
  flex-direction: column;
  position: absolute;
  top: calc(var(--header-height) + var(--spacer-width));
  left: 100vw;

  transition: transform 0.4s linear;

  background-color: var(--primary-color);
}

.nav-menue-show {
  transform: translate(-100vw);
}

.nav-element {
  width: calc(100% - calc(var(--spacer-width) * 2));
  margin-left: var(--spacer-width);
  border-top: 1px solid var(--secondary-color);
  padding: var(--spacer-width) 0;
  cursor: pointer;
}

.nav-element h1 {
  text-align: right;
  white-space: nowrap;
  width: 100%;
  transition: width 0.4s linear;
}

.nav-element:first-child {
  margin-top: var(--spacer-width);
}

.nav-element:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.nav-element-selected {
  background-color: var(--tertiary-color);
}
